Pandas loc & iloc

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C:\\Users\\Am\\Desktop\\Pandas\\00_All_DATA_SET\\Fortune_10 _Nan.csv',)
df

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,not available
4,5,Techdrill,not values,2009,"$10,573,990","7,435,363 Dollars",3138627,NaN
5,6,Techline,NaN,2006,"$13,898,119","5,470,303 Dollars",8427816,not available
6,7,Cityace,NaN,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,NaN,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [3]:
df.loc[0]

ID                           1
Name                   Lamtone
Industry           IT Services
Inception                 2009
Revenue           $11,757,018
Expenses     6,482,465 Dollars
Profit                 5274553
Growth                     30%
Name: 0, dtype: object

In [4]:
df.loc[4]

ID                           5
Name                 Techdrill
Industry            not values
Inception                 2009
Revenue           $10,573,990
Expenses     7,435,363 Dollars
Profit                 3138627
Growth                     NaN
Name: 4, dtype: object

In [5]:
df.loc[[0,1]]

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%

In [6]:
df.loc[[2,4]]

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
4,5,Techdrill,not values,2009,"$10,573,990","7,435,363 Dollars",3138627,NaN

In [8]:
df.loc[4,'Name']

'Techdrill'

In [11]:
df.loc[0:3,'Name']

0            Lamtone
1          Stripfind
2    Canecorporation
3           Mattouch
Name: Name, dtype: object

In [12]:
df.loc[0:2,'Name']

0            Lamtone
1          Stripfind
2    Canecorporation
Name: Name, dtype: object

In [13]:
df.loc[[False,False,True]]

IndexError: Boolean index has wrong length: 3 instead of 10

In [16]:
df.loc[df['Name']<11,['Growth']]

TypeError: '<' not supported between instances of 'str' and 'int'

In [17]:
df.iloc[0]

ID                           1
Name                   Lamtone
Industry           IT Services
Inception                 2009
Revenue           $11,757,018
Expenses     6,482,465 Dollars
Profit                 5274553
Growth                     30%
Name: 0, dtype: object

In [18]:
df.iloc[[0]]

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%

In [19]:
df.iloc[[0]]

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%

In [20]:
df.iloc[:,0]

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: ID, dtype: int64

In [21]:
df.iloc[[0,1]]

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%

IndexingError: Too many indexers