Pandas Join

In [1]:
import pandas as pd

In [6]:
df1 = pd.DataFrame({'A':[1,2,3],
                    'B':[10,20,30]},
                    index=['a','b','c'])
df2 = pd.DataFrame({'C':[4,5,6],
                    'D':[40,50,60]})

In [7]:
display(df1,df2)

   A   B
a  1  10
b  2  20
c  3  30

   C   D
0  4  40
1  5  50
2  6  60

In [5]:
df1.join(df2)

   A   B  C   D
0  1  10  4  40
1  2  20  5  50
2  3  30  6  60

In [8]:
df1.join(df2,how='outer')

     A     B    C     D
a  1.0  10.0  NaN   NaN
b  2.0  20.0  NaN   NaN
c  3.0  30.0  NaN   NaN
0  NaN   NaN  4.0  40.0
1  NaN   NaN  5.0  50.0
2  NaN   NaN  6.0  60.0

In [9]:
df1.join(df2,rsuffix='_l')

   A   B   C   D
a  1  10 NaN NaN
b  2  20 NaN NaN
c  3  30 NaN NaN