Pandas Append

In [1]:
import pandas as pd

In [3]:
df1 = pd.DataFrame({'A':[1,2,3],
                    'B':[10,20,30]})

df2 = pd.DataFrame({'A':[4,5,6],
                    'B':[40,50,60]})
display(df1,df2)

   A   B
0  1  10
1  2  20
2  3  30

   A   B
0  4  40
1  5  50
2  6  60

In [ ]:
pd.

AttributeError: 'DataFrame' object has no attribute 'append'